@{
    ViewData["Title"] = "Home Page";
}

<header>
    <h2>Bài Tập</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="#">Đinh Thị Duyên</a></li>
            <li><a href="#">1822030767</a></li>
        </ul>
    </nav>

    <article>
        <h1>Giới thiệu bản thân</h1>
        <p><b>Họ và tên:</b> Đinh Thị Duyên</p>
        <p><b>Đối tượng:</b> Sinh Viên</p>
        <p><b>Theo học tại:</b> <em>Trường đại học Công nghệ Đồng Nai</em></p>
        <p><b>Tuổi: </b>21</p>
        <p><b>Sở thích: </b> Đọc sách, xem phim</p>
        <p><b>Ước mơ:</b> Tìm được công việc tốt, high salary</p>
    </article>
</section>

<footer>
    <p> copyright Đinh Thị Duyên - @DateTime.Now.Year </p>
</footer>
