@model BaiKiemTra03_03.Models.Contract
@{
    ViewData["Title"] = "Thêm Hợp Đồng";
}

<h2>@ViewData["Title"]</h2>

<div class="container mt-5">
    <form asp-action="Them" method="post">
        <div class="form-group">
            <label asp-for="ContractName" type="text" class="control-label"></label>
            <input asp-for="ContractName" class="form-control" />
            <span asp-validation-for="ContractName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SigningDate" class="control-label"></label>
            <input asp-for="SigningDate" class="form-control" type="date" />
            <span asp-validation-for="SigningDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ContractValue" class="control-label"></label>
            <input asp-for="ContractValue" class="form-control" type="number" step="0.01" />
            <span asp-validation-for="ContractValue" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">Thêm</button>
            <a asp-action="Index" class="btn btn-secondary">Hủy</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}